<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1 th:text="${userName}"></h1>
	<h2>Hello Spring Boot Todo App</h2>
     <table border="1">
		<tr>
			<th>title</th>
			<th>main</th>
			<th></th>
			<th></th>
		</tr>
		<tr th:each="task: ${tasks}">
			<td th:text="${task.title}"></td>
			<td th:text="${task.main}"></td>
			<td><a th:href="@{'/task/edit/' + ${task.id}}" >編集</a></td>
			<td>
				<form th:action="@{'/task/delete/' + ${task.id}}" method="post">
					 <input type="submit" value="削除"/>
			    </form>
			</td>
		</tr>
	</table>
</body>
</html>